@keyframes slideInFromBottom {
  0% {
    
    margin-top:150%;
  }
  100% {
    
    margin-top:0%;
  }
}

.about { 
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromBottom;
 
}


@keyframes appear{
  0% {   
   opacity: 0;
  }
  100% {    
   opacity: 1;
  }
}

.appear {
  animation:appear 7s;
}